<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">

    <!-- Slider -->
    <script src="/js/slider.js"></script>
    <script src="/js/slider_park.js"></script>
    <title>Идеал | Транспортная компания</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <div class="elements_header">
                    <img class="header_logo" src="/img/logo.svg">
    
                    <nav class="nav_menu">
                        <ul>
                            <li><a class="nav_item main" href="#">Главная</a></li>
                            <li><a class="nav_item calc" href="#">Калькулятор</a></li>
                            <li><a class="nav_item info" href="#">О компании</a></li>
                            <li><a class="nav_item contact" href="#">Контакты</a></li>
                        </ul>
                    </nav>

                    <button class="call_btn">ЗАКАЗАТЬ ЗВОНОК</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="info_border">
            <div class="container">
                <div class="elements_border">
                    <div class="left_info">
                        <h1>ИДЕАЛ - ДОСТАВКА ИЗ МОСКВЫ И ПО ВСЕЙ СТРАНЕ</h1>
                        <p>Мы предлагает услуги качественной и быстрой 
                            транспортировки грузов. Всем своим клиентам мы 
                            предоставляем привлекательные условия сотрудничества, 
                            доступные тарифы на перевозки.
                        </p>
                        <button class="more_btn">ПОДРОБНЕЕ</button>
                    </div>

                    <div class="request_block">
                        <h1>Оставьте вашу заявку</h1>
                        <p>Мы с вами свяжемся</p>

                        <div class="forms">
                            <form class="block" action="" method="">
                                <p>Вид грузоперевозки</p>
                                <select class="block_input">
                                    <option value="select_item">Выбрать</option>
                                    <option value="avia_item">Авиаперевозка</option>
                                    <option value="avto_item">Автоперевозка</option>
                                    <option value="train_item">ЖД перевозка</option>
                              </select>
                            </form>
                            <form class="block" action="" method="">
                                <p>Ваши инициалы</p>
                                <input class="block_input" type="text" placeholder="ФИО" />
                            </form>
    
                            <form class="block" action="" method="">
                                <p>Номер телефона</p>
                                <input class="block_input" type="number" placeholder="+7" />
                            </form>
    
                            <form class="block" action="" method="">
                                <p>Ваш Email</p>
                                <input class="block_input" type="email" placeholder="Email" />
                            </form>
                        </div>
                        <div class="button_form">
                            <button class="send_btn">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service">
            <div class="container">
                <div class="text_service">
                    <h1>Наши услуги</h1>
                    <p>Мы предоставляем разный вид транспортировки груза</p>
                </div>

                <div class="cards">
                    <ul class="grid">
                        <li class="item_service">
                            <div class="card">
                                <img src="/img/bg_avia.png" alt="">
                                <h1>Авиаперевозка</h1>
                                <div class="desc_s">
                                    <img src="/img/plane.png" alt="">
                                    <p>Авиа доставка грузов является быстрым способом доставки товара, позволяет оперативно доставлять срочные, особо опасные или скоропортящиеся грузы.</p>
                                </div>
                                <div class="btn_check">
                                    <a href="">Смотреть</a>
                                </div>
                            </div>
                        </li>
                        <li class="item_service">
                            <div class="card">
                                <img src="/img/bg_avto.png" alt="">
                                <h1>Автоперевозка</h1>
                                <div class="desc_s">
                                    <img src="/img/truck.png" alt="">
                                    <p>Авиа доставка грузов является быстрым способом доставки товара, позволяет оперативно доставлять срочные, особо опасные или скоропортящиеся грузы.</p>
                                </div>
                                <div class="btn_check">
                                    <a href="">Смотреть</a>
                                </div>
                            </div>
                        </li>
                        <li class="item_service">
                            <div class="card">
                                <img src="/img/bg_train.png" alt="">
                                <h1>ЖД перевозка</h1>
                                <div class="desc_s">
                                    <img src="/img/train.png" alt="">
                                    <p>Авиа доставка грузов является быстрым способом доставки товара, позволяет оперативно доставлять срочные, особо опасные или скоропортящиеся грузы.</p>
                                </div>
                                <div class="btn_check">
                                    <a href="">Смотреть</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="advantages">
            <div class="container">
                <div class="text_advantages">
                    <h1>Преимущества работы</h1>
                </div>

                <div class="info_a">
                    <div class="points_block">
                        <div class="point">
                            <img src="/img/point_tarifs.png" alt="">
                            <div class="desc_point">
                                <h6>Доступные тарифы</h6>
                                <p>На любой вид трансортировки груза</p>
                            </div>
                        </div>
    
                        <div class="point">
                            <img src="/img/point_exp.png" alt="">
                            <div class="desc_point">
                                <h6>Наличие опыта</h6>
                                <p>Имеем опыт работы с 2016 года</p>
                            </div>
                        </div>
        
                        <div class="point">
                            <img src="/img/point_warranty.png" alt="">
                            <div class="desc_point">
                                <h6>Гарантия качества</h6>
                                <p>Полное соблюдение правил транспортировки товаров</p>
                            </div>
                        </div>
        
                        <div class="point">
                            <img src="/img/point_warranty.png" alt="">
                            <div class="desc_point">
                                <h6>Скидки</h6>
                                <p>Предоставление скидок при долгосрочном сотрудничестве</p>
                            </div>
                        </div>
                    </div>

                    <!-- Основной блок слайдера -->
                    <div class="slider">
                        
                        <div class="item">
                            <img src="/img/tarifs_border.png">
                        </div>
                    
                        <div class="item">
                            <img src="/img/exp_border.png">
                        </div>
                    
                        <div class="item">
                            <img src="/img/warranty_border.png">
                        </div>

                        <div class="item">
                            <img src="/img/discounts_border.png">
                        </div>
                    
                        <a class="previous" onclick="previousSlide()">&#10094;</a>
                        <a class="next" onclick="nextSlide()">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="park">
            <div class="container">
                <div class="text_park">
                    <h1>Автопарк</h1>
                </div>

                <div class="content_slide">
                    <div class="slider_park">
                        
                        <div class="item_park">
                            <img src="/img/tarifs_border.png">
                        </div>
                    
                        <div class="item_park">
                            <img src="/img/exp_border.png">
                        </div>
                    
                        <div class="item_park">
                            <img src="/img/warranty_border.png">
                        </div>
    
                        <div class="item_park">
                            <img src="/img/discounts_border.png">
                        </div>
                    
                        <a class="previous_park" onclick="previousSlidePark()">&#10094;</a>
                        <a class="next_park" onclick="nextSlidePark()">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="blocks_f">
                    <div class="left_block_f">
                        <img src="/img/Logo.png" alt="">
                        <p>© 2016 - 2023 ООО «Транспортная Компания Идеал»</p>
                    </div>

                    <div class="right_block_f">
                        <p>Телефон</p>
                        <h3>+7 (495) 741-11-23</h3>

                        <p>Email</p>
                        <h3>info@aviaperevozki.pro</h3>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>